body {
  background: no-repeat top;
  background-size: cover;
  background-image: url('/background--dashboard.png');
  height: 100vh;
  margin: 0;
}

.dashboard__container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;

  .dashboard__carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    border-radius: 50%;
    overflow: hidden;
    .dashboard__blurred-bg {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: no-repeat top;
      background-size: cover;
      background-image: url('/background--dashboard.png');
      filter: blur(10px);
    }
    .dashboard__score {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}