.score-slide__container {
  width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .score-slide__bar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}