@import '../../../styles/utils/colours';

%font-1 {
  font-family: AktivGrotesk;
}

%font-2 {
  font-family: GillSans;
}

%font-3 {
  font-family: DINRoundOT;
}

%font-4 {
  font-family: RobotoSlab;
}

.score__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score__title {
  @extend %font-2;
  font-size: 17px;
  color: $white;
  font-weight: 100;
}

.score__value {
  @extend %font-1;
  font-size: 65px;
  font-weight: 100;
  color: $score;
}

.score__scale {
  @extend %font-2;
  color: $white;
  margin-bottom: 37px;
  .score__out-of {
    font-size: 17px;
    font-weight: 100;
  }
  .score__max {
    font-size: 17px;
    font-weight: 400;
  }
}

.score__band {
  @extend %font-1;
  font-size: 17px;
  font-weight: 300;
  color: $score;
}